.max-w-3xl.mx-auto.py-12.px-4
  %h1.text-4xl.font-bold.mb-8.text-gray-900= t('help.index.title')
  
  .space-y-10
    %section
      %h2.text-xl.font-bold.mb-4.border-b.pb-2= t('help.index.getting_started')
      .space-y-4.text-gray-700
        %p
          %strong= t('help.index.browse_help_title')
          = t('help.index.browse_help')
        %p
          %strong= t('help.index.browse_search_title')
          = t('help.index.search_help')
          
    %section
      %h2.text-xl.font-bold.mb-4.border-b.pb-2 FAQ
      .space-y-6
        %div
          %h4.font-bold.text-gray-800= t('help.index.real')
          %p.text-sm.text-gray-600.italic= t('help.index.real_description')

  .mt-8
    = link_to t('help.index.back'), root_path, class: "inline-block text-blue-600 font-bold hover:underline"
    